<div class="row">
    <div class="col-12 bg-secondary  p-3">
        <select  class="w-25 form-control" name="year" id="year" (change)="changeyear($event)">

            <option *ngFor="let opt of optres"  [value]="opt.year">
               Year - {{opt.year}}
            </option>
        </select>
    </div>
    <div class="col-md-9  my-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4 p-4  border-end">
                    <h5>
                        Word Population year
                    </h5>
                    <div>
                       {{total}}{{popCount}}
                    </div>
                </div>
                <div class="col-md-4 p-4">
                    <div id="lineChart" style="position: relative; height:20vh; width:100%">
                    </div>
            </div>
        </div>
    </div>
    <div class="col-12  my-5">

        <!-- <div id="scatterChart" style="position: relative; height:80vh; width:100%"> -->
            <svg width="500" height="400"></svg>
    </div>
</div>


    <!-- <li *ngFor="let user of popRes">
        {{user.year}}
     </li> -->